@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: "Lato", sans-serif;
}

body#index {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  font-size: 16px;
  padding: 5px;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

th {
    background-color: #eeeeee;
}

#add-item-submit:hover {
    cursor: pointer;
    cursor: hand;
}
